* {
  box-sizing: border-box;
}

body {
  background-color: #dedede;
  margin: 0;
  padding: 0;

  
}

#app {
  max-width: 480px;
  min-height: 100vh;
  margin: auto;
  background-color: white;
}

.header{
width: 480px;
height: 92px;
left: 468px;
top: 0px;

background: #466AEA;


}

.headerFont {
  white-space: nowrap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  color: #FFFFFF;
}

.linkhuText {
  width: 239px;
  height: 48px;
  font-size: 40px;
  line-height: 78px;
}

.newsText {

  width: 239px;
  height: 48px;
  font-size: 25px;
  line-height: 78px;
}

/* styles.css */


.tab{
  /* nav */
  white-space: nowrap;
  display: inline-block;
  padding: 10px;
  margin: 4px;
  cursor: pointer;


}

.tab:hover {
  background-color: #ddd;
}

.underline1{
width: 65px;
height: 4px;
left: 468px;
top: 147px;

background: #466AEA;

}

.underline2{
  /* underline */
width: 480px;
height: 4px;
left: 468px;
top: 147px;

background: #CECECE;

}

/* section */

.image {
  width: 400px;
  height: 205.96px;
  left: 508px;
  top: 255px;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reporter {
  white-space: nowrap;
  width: 78px;
  height: 14px;
  left: 508px;
  top: 586px;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: #8E8E8E;
  
}

.title {
  width: 400px;
  height: 40px;
  left: 506px;
  top: 397px;
  font-family: 'Roboto Flex';
  font-style: italic;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #000000;
}

.description {
  width: 400px;
  height: 42px;
  left: 508px;
  top: 531px;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: #5E5E5E;
}

.date {
  white-space: nowrap;
  width: 70px;
  height: 14px;
  left: 586px;
  top: 586px;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: #8E8E8E;
}


.comment {
  position: absolute;
  width: 400px;
  height: auto;
  left: 150px; /* 수정된 값 */
  top: 250px; /* 수정된 값 */
  background: #FFFFFF;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  border-width: 100px;
  border-color: #000000;
}


.comment2{
  /* Rectangle 45 */


width: 363px;
height: 415px;
left: 529px;
top: 345px;

background: #D9D9D9;
border-radius: 5px;

}

.closeButton {
  /* x */
  position: absolute;
  width: 12px;
  height: 24px;
  right: 0;
  top: 0;  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 100px;
  line-height: 24px;
  color: #000000;
}


.commentTitle {
  width: 100%; /* 전체 너비로 설정 */
  height: auto; /* 높이를 자동으로 조정하도록 수정 */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 10px; /* 적절한 아래 여백 추가 */
}

.commentDescription {
  width: 100%; /* 전체 너비로 설정 */
  height: auto; /* 높이를 자동으로 조정하도록 수정 */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin-bottom: 10px; /* 적절한 아래 여백 추가 */
}